Nauplius.SharePoint.ADLDS.UserProfiles/Nauplius.SharePoint.ADLDS.Configuration/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="Nauplius.SharePoint.ADLDS.UserProfiles" elementFormDefault="qualified" targetNamespace="Nauplius.SharePoint.ADLDS.UserProfiles" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="partitionsSection" type="tns:Nauplius.SharePoint.ADLDS.UserProfiles.PartitionsSectionCT" />
	<xs:complexType name="Nauplius.SharePoint.ADLDS.UserProfiles.PartitionCT">
		<xs:sequence>
		</xs:sequence>
		<xs:attribute name="server" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The server.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="port" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The port.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="dn" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The dn.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="useSSL" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The useSSL.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="webApplication" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The webApplication.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="logonAttribute" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The logonAttribute.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="Nauplius.SharePoint.ADLDS.UserProfiles.PartitionsSectionCT">
		<xs:sequence>
			<xs:element minOccurs="0" name="partitions" type="tns:Nauplius.SharePoint.ADLDS.UserProfiles.PartitionsCT">
				<xs:annotation>
					<xs:documentation>The Partitions.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Nauplius.SharePoint.ADLDS.UserProfiles.PartitionsCT">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="partition" type="tns:Nauplius.SharePoint.ADLDS.UserProfiles.PartitionCT">
				<xs:annotation>
					<xs:documentation>The Partition Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
